@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* 스크롤바 숨기기 */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* 스크롤바 디자인 */
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        /* 스크롤바 폭 */
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply bg-stone-700 rounded-md bg-opacity-20;
        /* 트랙 스타일 */
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-stone-600 rounded-full opacity-30;
        /* 썸 스타일 */
        border: 2px solid transparent;
        /* 썸 테두리 */
        background-clip: content-box;
        /* 테두리 안쪽으로 배경 적용 */
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-stone-700 opacity-30;
        /* 호버 시 썸 스타일 */
    }
}

body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}